{% extends 'base.html' %}
{% block content %}
    <main class="main main--about">
        <p>
            Hi, I'm Taksh! Passionate about coding and problem-solving, I am a dedicated computer science enthusiast with a solid foundation in Data Structures and Algorithms (DSA). Throughout my journey in competitive coding, I have cultivated a unique set of skills, empowering me to tackle complex challenges with precision and creativity. Proficient in Python, I specialize in web development using the Flask framework, creating dynamic and scalable applications.
        </p>
        <p>
            My extensive experience includes the creation of diverse projects, such as a Blog Site, Weather app, and To-Do List, showcasing not only my proficiency in web development and Flask but also my competence in utilizing a comprehensive array of hard skills. These encompass proficiency in databases with technologies like SQL and SQLAlchemy, version control using Git, front-end development with HTML, CSS, and Bootstrap, and object-oriented programming (OOP) principles.
        </p>
        <p>
            With a keen interest in both the theoretical and practical aspects of computer science, I am well-equipped to contribute to innovative projects that demand a multifaceted skill set. Eager to further enhance my coding expertise, I am actively seeking opportunities that align with my passion and skills. I believe in the power of continuous learning and collaboration to drive technological innovation. If you are seeking a motivated and skilled individual to join your team and contribute to impactful projects, I am ready to bring my dedication and technical prowess to the table. Let's embark on a journey of innovation and achievement together.
        </p>
    </main>
{% endblock %}