{% extends 'base.html' %}
{% block content %}
    <main class="main main--contact">
        <dl>
            <div class="contact">
                <dt>Email:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="mailto:ranataksh03@gmail.com">
                        ranatakshgmail.com
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>GitHub:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://github.com/takshrana">
                        @takshrana
                    </a>
                </dd>
            </div>
            <div class="contact">
                <dt>LinkedIn:</dt>
                <dd class="contact__details">
                    <a class="contact__link" href="https://linkedin.com/in/taksh-rana">
                        @takshrana
                    </a>
                </dd>
            </div>
        </dl>
    </main>
{% endblock %}